{% extends 'sales/main.html' %}

{% block title %}Calculated Product List{% endblock %}

{% block content %}
    <div class="container-md my-5">
        <h1>Calculated Product List</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Original Price</th>
                    <th>Additional Fee</th>
                    <th>Final Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in calculated_products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>${{ product.get_price }}</td>
                        <td>${{ product.additional_fee }}</td>
                        <td>${{ product.calculate_final_price }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No products available</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
