<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <h1>Owiny MArvin 22/U/3783/EVE</h1>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Discount Visualization</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>${{ product.get_price }}</td>
            <td>{{ product.stock }}</td>
            <td>
                {% if product.discountedproduct %}
                    <a href="{% url 'discount_plot' product.discountedproduct.id %}">View Discount Plot</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
